.w3-chinese
{
	font-family: '微軟正黑體', serif;
}

body, html {height: 105%}

.bgimg {
	background-image: url('../images/bk4.jpg');
	min-height: 105%;
	background-position: center;
	background-size: cover;
}

.bgimg2 {
	background-image: url('../images/sign2.png');
	height: 100%
	min-height: 100%;
	background-position: center;
	background-size: cover;
}
.messages{
	color: #dc3545;
	height:40px;
	text-align: left;
}

input[type=checkbox] {
	zoom: 1.5;
	padding: 0;
	margin:0;
	vertical-align: bottom;
	position: relative;
	top: -1px;

}